.box {
  display: block;
  width: 200px;
  height: 200px;
  overflow: auto;
  margin: 50px;
  padding: 10px;
}

.light {
  color: black;
  background-color: skyblue;
  border: 5px solid blue;
}

.dark {
  color: white;
  background-color: black;
  border: 5px solid gray;
}
